.about-me{
    display: flex;
}

.about-me__content{
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0 5%;
}

.about-me__content__paragraph{
    color: #D4D4D4;
    margin-top: 30px;
    text-align: justify;
    word-wrap: break-word;
}

.about-me .button--hire{
    margin-top: 55px;
}
